#!/bin/bash

set -e

kubectl config set-cluster {{ k8s_cluster_name }} \
    --certificate-authority={{ k8s_certs_dir }}/ca.pem \
    --embed-certs=true \
    --server=https://127.0.0.1:6443 \
    --kubeconfig=admin.kubeconfig

kubectl config set-credentials admin \
    --client-certificate={{ k8s_certs_dir }}/admin.pem \
    --client-key={{ k8s_certs_dir }}/admin-key.pem \
    --embed-certs=true \
    --kubeconfig=admin.kubeconfig

kubectl config set-context default \
    --cluster={{ k8s_cluster_name }} \
    --user=admin \
    --kubeconfig=admin.kubeconfig

kubectl config use-context default --kubeconfig=admin.kubeconfig
