#!/bin/bash

set -e

kubectl config set-cluster {{ k8s_cluster_name }} \
    --certificate-authority={{ k8s_certs_dir }}/ca.pem \
    --embed-certs=true \
    --server=https://127.0.0.1:6443 \
    --kubeconfig=kube-controller-manager.kubeconfig

kubectl config set-credentials system:kube-controller-manager \
    --client-certificate={{ k8s_certs_dir }}/kube-controller-manager.pem \
    --client-key={{ k8s_certs_dir }}/kube-controller-manager-key.pem \
    --embed-certs=true \
    --kubeconfig=kube-controller-manager.kubeconfig

kubectl config set-context default \
    --cluster={{ k8s_cluster_name }} \
    --user=system:kube-controller-manager \
    --kubeconfig=kube-controller-manager.kubeconfig

kubectl config use-context default --kubeconfig=kube-controller-manager.kubeconfig
