#!/bin/bash

set -e

kubectl config set-cluster {{ k8s_cluster_name }} \
    --certificate-authority={{ k8s_certs_dir }}/ca.pem \
    --embed-certs=true \
    --server=https://127.0.0.1:6443 \
    --kubeconfig=kube-scheduler.kubeconfig

kubectl config set-credentials system:kube-scheduler \
    --client-certificate={{ k8s_certs_dir }}/kube-scheduler.pem \
    --client-key={{ k8s_certs_dir }}/kube-scheduler-key.pem \
    --embed-certs=true \
    --kubeconfig=kube-scheduler.kubeconfig

kubectl config set-context default \
    --cluster={{ k8s_cluster_name }} \
    --user=system:kube-scheduler \
    --kubeconfig=kube-scheduler.kubeconfig

kubectl config use-context default --kubeconfig=kube-scheduler.kubeconfig
