#!/bin/bash

set -e

kubectl config set-cluster {{ k8s_cluster_name }} \
    --certificate-authority={{ k8s_certs_dir }}/ca.pem \
    --embed-certs=true \
    --server=https://{{ k8s_public_ip }}:6443 \
    --kubeconfig=kube-proxy.kubeconfig

kubectl config set-credentials system:kube-proxy \
    --client-certificate={{ k8s_certs_dir }}/kube-proxy.pem \
    --client-key={{ k8s_certs_dir }}/kube-proxy-key.pem \
    --embed-certs=true \
    --kubeconfig=kube-proxy.kubeconfig

kubectl config set-context default \
    --cluster={{ k8s_cluster_name }} \
    --user=system:kube-proxy \
    --kubeconfig=kube-proxy.kubeconfig

kubectl config use-context default --kubeconfig=kube-proxy.kubeconfig
